<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/header::header"></div>

<body>

<nav class="mb-1 navbar navbar-expand-lg navbar-dark  blue lighten-1 mb-2">
  <a class="navbar-brand" href="/" th:text="#{at}">Article</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
          aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/" th:text="#{home}">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/category" th:text="#{category}">Category
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item avatar">
        <a href="/?lang=kh" methods="GET" class="navbar-nav text-white mr-3 waves-effect waves-light" th:text="#{khmer}">Khemr</a>
        <a href="/?lang=en" methods="GET" class="navbar-nav text-white mr-3 waves-effect waves-light" th:text="#{english}">English</a>
      </li>
    </ul>
  </div>
</nav>


  <!-- Start your project here-->
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- Card -->
        <div class="card w-50 m-auto">

          <!-- Card body -->
          <div class="card-body">

            <!-- Material form register -->
            <form action="/update" enctype="multipart/form-data" method="post">
              <p class="h4 text-center py-4" th:text="#{updateArticle}">Update Article</p>
              <input type="hidden" th:field="${article.thumbnail}">
              <!-- Material input email -->
              <input type="hidden" th:field="${article.id}">
              <div class="md-form">
                <i class="fas fa-address-book prefix grey-text"></i>
                <input type="text" id="materialFormCardEmailEx" class="form-control" th:field="${article.title}">
                <label for="materialFormCardEmailEx" class="font-weight-light" th:text="#{title}">Title:
                </label>
                <span th:if="${#fields.hasErrors('article.title')}" style="color: red" th:text="#{title_valid}">Title is not valid!</span>
              </div>

              <!-- Material input email -->
              <div class="md-form">
                <i class="far fa-address-card prefix grey-text"></i>
                <input type="text" id="materialFormCardConfirmEx" class="form-control" th:field="${article.description}">
                <label for="materialFormCardConfirmEx" class="font-weight-light" th:text="#{description}">Description:
                </label>
                <span th:if="${#fields.hasErrors('article.description')}" style="color: red" th:text="#{description_valid}">Description is not valid!</span>
              </div>

              <!-- Material input password -->
              <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <input type="text" id="materialFormCardPasswordEx" class="form-control" th:field="${article.author}">
                <label for="materialFormCardPasswordEx" class="font-weight-light" th:text="#{autor}">Author:
                </label>
                <span th:if="${#fields.hasErrors('article.author')}" style="color: red" th:text="#{author_valid}">Author is not valid!</span>
              </div>

              <div>
                <select class="mdb-select md-form d-block form-control" th:name="category_id">
                  <option value="" disabled selected th:text="#{chose}">Choose categories</option>
                  <option th:each="category:${categories}" th:value="${category.id}" th:text="${category.category}">Option 1</option>
                </select>
              </div>

              <div class="custom-file">
                <input type="file" class="custom-file-input" name="file" id="customFileLang">
                <label class="custom-file-label" for="customFileLang" th:text="#{upload_image}">Upload a image</label>
              </div>

              <div class="text-center py-4 mt-3">
                <button class="btn btn-cyan" type="submit" th:text="#{update}">Update</button>
              </div>

              <div class="float-right">
                <a href="/" th:text="#{back_home}">Back home</a>
              </div>
            </form>
            <!-- Material form register -->

          </div>
          <!-- Card body -->

        </div>
        <!-- Card -->
      </div>
    </div>
  </div>
  <!-- /Start your project here-->
  <!-- Footer -->
  <div th:replace="fragments/footer::footer"></div>

</body>

</html>