<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/header::header"></div>

<body>

<nav class="mb-1 navbar navbar-expand-lg navbar-dark  blue lighten-1 mb-2">
  <a class="navbar-brand" href="/" th:text="#{at}">Article</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
          aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/" th:text="#{home}" >Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/category" th:text="#{category}">Category
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item avatar">
        <a href="/?lang=kh" class="navbar-nav text-white mr-3" th:text="#{khmer}">Khmer</a>
        <a href="/?lang=en" class="navbar-nav text-white mr-3" th:text="#{english}">English</a>
      </li>
    </ul>
  </div>
</nav>
  <!-- Start your project here-->
  <div class="container">
    <div class="row">
      <form th:action="@{'/?title='+${title}+'&page=1&limit='+${limit}}" th:method="GET" class="col-md-10 d-flex">
      <div class="col-md-3 pl-0" >

          <select id="row" class="mdb-select md-form d-inline form-control" name="limit" onchange="this.form.submit()">
            <option value="" disabled selected th:text="#{show_row}">Choose categories</option>
            <option value="10" th:text="#{row10}" th:selected="${limit eq 10}">10</option>
            <option value="15" th:text="#{row15}" th:selected="${limit eq 15}">15</option>
            <option value="20" th:text="#{row20}" th:selected="${limit eq 20}">20</option>
          </select>
      </div>

      <div class="col-md-5">
          <div class="md-form mt-0" style="padding-top: 20px" >
            <input class="form-control result" type="text" th:placeholder="#{search}" aria-label="Search" name="title" th:value="${title}">
            </div>
      </div>

      <div class="col-md-4" >
          <select class="mdb-select md-form d-block form-control" name="category_id" onchange="this.form.submit()">
            <option value="" disabled selected th:text="#{chose}">Choose categories</option>
            <option th:each="category:${categories}" th:value="${category.id}" th:text="${category.category}" th:selected="${category_id eq category.id}">Option 1</option>
          </select>
      </div>

      </form>

      <div class="col-md-2" style="padding-top: 15px">
        <a type="button" class="btn btn-default btn-rounded" href="/add" th:text="#{add_new}">
          <i class="fas fa-plus-circle mr-2"></i>Add New</a>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <table class="table table-hover shadow-lg p-3 mb-5 bg-white rounded">
          <thead>
            <tr class="text-center">
              <th scope="col" th:text="#{id}">ID</th>
              <th scope="col" th:text="#{title}">Title</th>
              <th scope="col" th:text="#{description}">Description</th>
              <th scope="col" th:text="#{autor}">Author</th>
              <th scope="col" th:text="#{category}">Category</th>
              <th scope="col" th:text="#{photo}">Photo</th>
              <th scope="col" th:text="#{date}">Date</th>
              <th scope="col" th:text="#{action}">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center" th:each="article:${articles}" th:object="${article}">
              <td class="pt-4" th:text="*{id}"></td>
              <td class="pt-4" th:text="*{title}"></td>
              <td class="pt-4" th:text="*{description}"></td>
              <td class="pt-4" th:text="*{author}"></td>
              <td class="pt-4" th:text="*{category}"></td>
              <td class="pt-4"><img th:src="*{thumbnail}" alt="book image" srcset="" width="50" height="40"></td>
              <td class="pt-4" th:text="*{create_date}"></td>
              <td class="pl-0 pr-0" colspan="3">
                <a class="btn-floating btn-md btn-default" th:href="@{'/update?id='+${article.id}}">
                  <i class="fas fa-edit"></i></a>
                <a class="btn-floating btn-md btn-blue-grey" id="btn_delete" th:href="@{'/delete?id='+${article.id}+'&category_id='+${category_id}}">
                  <i class="fas fa-trash"></i></a>
                <a class="btn-floating btn-md btn-cyan" th:href="@{/view/{id}(id=*{id})}">
                  <i class=" fas fa-eye"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <nav aria-label="Page navigation example">
            <ul class="pagination pg-blue justify-content-center" th:style="${numberIndex.size()<=1}?'display:none':''">
              <li th:class="${page eq 1}?'page-item disabled':''">
                <a class="page-link" tabindex="-1" th:text="#{first}" th:href="@{'/?title='+${title}+'&page=1&limit='+${limit}+'&category_id='+${category_id}}">First</a>
              </li>

              <li th:class="${page eq 1}?'page-item disabled':''">
                <a class="page-link" tabindex="-1" th:text="#{previous}" th:href="@{'/?title='+${title}+'&page=' + ${page-1}+'&limit='+${limit}+'&category_id='+${category_id}}">Previous</a>
              </li>

              <li class="page-item" th:each="number:${numberIndex}" th:class="${page eq number}? 'page-item active' : ''" >
                <a class="page-link" th:if="${page eq number}" th:text="${number}" th:href="@{'/?title='+${title}+'&page=' + ${number}+'&limit='+${limit}+'&category_id='+${category_id}}" th:method="GET" name="index"><span class="sr-only">(current)</span></a>
                <a class="page-link" th:unless="${page eq number}" th:text="${number}" th:href="@{'/?title='+${title}+'&page=' + ${number}+'&limit='+${limit}+'&category_id='+${category_id}}" th:method="GET" name="index"><span class="sr-only">(current)</span></a>
              </li>

              <li class="page-item" th:class="${page eq numberIndex.size()}?'page-item disabled':''">
                <a class="page-link" th:text="#{next}" th:href="@{'/?title='+${title}+'&page=' + ${page+1}+'&limit='+${limit}+'&category_id='+${category_id}}">Next</a>
              </li>

              <li class="page-item" th:class="${page eq numberIndex.size()}?'page-item disabled':''">
                <a class="page-link" th:text="#{last}" th:href="@{'/?title='+${title}+'&page=' + ${numberIndex.size()}+'&limit='+${limit}+'&category_id='+${category_id}}">Last</a>
              </li>
            </ul>
          </nav>
      </div>
    </div>
  </div>
  <!-- /Start your project here-->
<!-- Footer -->
<div th:replace="fragments/footer::footer"></div>
</body>

</html>