<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/header::header"></div>

<body>

<nav class="mb-1 navbar navbar-expand-lg navbar-dark  blue lighten-1 mb-2">
  <a class="navbar-brand" href="/" th:text="#{at}">Article</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
          aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/" th:text="#{home}">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/category" th:text="#{category}">Category
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item avatar">
        <a href="?lang=kh" class="navbar-nav text-white mr-3" th:text="#{khmer}">Khemr</a>
        <a href="?lang=en" class="navbar-nav text-white mr-3" th:text="#{english}">English</a>
      </li>
    </ul>
  </div>
</nav>

  <!-- Start your project here-->
  <!-- Grid row -->
  <div class="container">
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12">

        <!--Card-->
        <div class="card default-color-dark m-auto w-50">

          <!--Card image-->
          <div class="view">
            <img th:src="${article.thumbnail}" class="card-img-top" alt="photo">
            <a href="#">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body text-left" th:object="${article}">
            <!--Title-->
            <h4 class="white-text" style="display: inline" th:text="#{id}">ID:</h4>
            <h4 class="white-text ml-3" style="display: inline" th:text="*{id}">ID:</h4><br><hr>
            <!--label-->
            <h4 class="white-text" style="display: inline" th:text="#{title}">Title:</h4>
            <h4 class="white-text ml-3" style="display: inline" th:text="*{title}"></h4><br><hr>
            <!--label-->
            <h4 class="white-text" style="display: inline" th:text="#{description}">Description:</h4>
            <h4 class="white-text ml-3" style="display: inline" th:text="*{description}"></h4><br><hr>
            <!--label-->
            <h4 class="white-text" style="display: inline" th:text="#{autor}">Author:</h4>
            <h4 class="white-text ml-3" style="display: inline"  th:text="*{author}"></h4><br><hr>
            <!--label-->
            <h4 class="white-text" style="display: inline" th:text="#{category}">Category:</h4>
            <h4 class="white-text ml-3" style="display: inline"  th:text="*{category}"></h4><br><hr>
            <!--label-->
            <h4 class="white-text" style="display: inline" th:text="#{date}">Date:</h4>
            <h4 class="white-text ml-3" style="display: inline" th:text="*{create_date}"></h4><br><hr>

          </div>
          <a href="/" class="yellow-text text-right m-3" th:text="#{back_home}">Back Home</a>
        </div>
        <!--/.Card-->
      </div>
    </div>
  </div>
  <!-- Grid column -->
  <!-- /Start your project here-->
  <!-- Footer -->
<div th:replace="fragments/footer::footer"></div>

</body>

</html>